@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<div class="container-design">
    <div class="inner-design">
        <p style="color: white; line-height: 180%; font-size: 120%; margin-top: -5%">
            The purpose of this web application is to enable easy organization of already made reservations
            in the most luxurious hotels around the world, with just a few clicks. For all those who need a creative way of scheduling and organising,
            this application would be the best fit for them.
        </p>
    </div>
</div>
