@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="container-design">
    <div class="inner-design">
        <h4 style="color:white">For any technical problems, do not hesitate to contact us via our support email!</h4>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hotelsystem.com</a><br />

        </address>

        <br />
        <br />
        <br />

        <h4 style="color: white">For any marketing related suggestions, feel free to use our marketing email!</h4>

        <address>
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hotelsystem.com</a>
        </address>

    </div>

    <br />
</div>