@model IEnumerable<BookingSystemIt.Models.Reservation>

<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.DaysOfStaying</li>
        }
    </ul>
</div>
